[submodule "MojoShader"]
	path = MojoShader
	url = https://github.com/TheSpydog/MojoShader
	branch = sdlgpu_msl
[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
